body {
	padding: 1em;
}

/* 
	Can't just set display:none as Chrome will refuse to trigger click event on input 
	What's odd is that I had display:none set for ages without any issues?
*/
#upload {
	left: -999em;
	position: absolute;
}

#upload-link,
#browsers {
	display: none;
}

#bar {
	display: block;
}

#upload-link {
	background-color: #f00;
	color: #fff;
	font: normal small Helvetica, Arial, sans-serif;
	padding: 1em;
}

.thumbnail {
	display: block;
	margin: 1em 0 0;
	width: 100px;
}

input[type=submit] {
	margin-top: 1em;
}